.content
	margin 64px 0 0 0
	
	&-features
		padding 0
	
	&-block
		padding 1em
		border-left 6px solid #dedede
		border-bottom 1px solid #dedede
		
		&:hover
			background-color #dedede
		
		&:nth-child(1)
			border-left-color green
		&:nth-child(2)
			border-left-color red
		&:nth-child(3)
			border-left-color blue
		&:nth-child(4)
			border-left-color orange

@media (min-width: 786px)
	.content
		
		&-features
			display flex
			justify-content space-around