.video-container
	position relative
	// Para que el video se adapte a la pantalla
	padding 25%
	height 0
	
	video, object, embed, iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%